<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
    <add key="wexerab" value="https://pkgs.dev.azure.com/wexerab/Wengine/_packaging/Wengine/nuget/v3/index.json" />
  </packageSources>
	<packageSourceCredentials>
		<Telerik>
			<add key="Username" value="kristofer.liew@kl-data.se" />
			<add key="ClearTextPassword" value="kallekula" />
		</Telerik>
	</packageSourceCredentials>
</configuration>
